@mixin for-tablet-landscape-up {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin for-phone-only {
  @media (max-width: 450px) {
    @content;
  }
}

.section-houses{
  padding: 10rem 0 0 0;
  margin-bottom: 10rem;
  position: relative;
  user-select: none;
  a {
    outline: 0;
  }
  .section-houses-counter{
    font-size: calc(18px + (50 - 18) * ((100vw - 320px) / (1900 - 320)));
    font-family: var(--font-secondary-bold);
    text-transform: uppercase;
    color: var(--main-color);
    top: 33vh;
    left: 19.5vw;
    bottom: auto;
    height: 27.2vw;
    margin: 0 !important;
    display: flex !important;
    z-index: 10;
    position: absolute;

    @include for-tablet-landscape-up {
      top: 27vh;
      left: 6vw;
    }
    @include for-phone-only{
      display: none !important;
    }


  }
  .section-houses-title{
     a:hover{
      text-decoration: none;
    }

  }

  .singleCarousel{


    .link {
      position: relative;
      transition: clip-path 275ms ease;
      //&:hover span::before, &:focus span::before {
      //  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
      //}
      //span {
      //  position: relative;
      //  display: inline-block;
      //  color: inherit;
      //  padding: 2.5rem 5rem;
      //
      //  &::before {
      //    position: absolute;
      //    content: attr(data-content);
      //    color: rgba(255,255,255, 1);
      //
      //    //text-decoration: underline;
      //    //text-decoration-color: var(--main-color);
      //    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
      //    transition: clip-path 275ms ease;
      //  }
      //}
    }

    h3{
      font-size: calc(18px + (80 - 18) * ((100vw - 320px) / (1900 - 320)));
      font-family: var(--font-secondary);
      text-transform: uppercase;
      line-height: 1.0;
      position: relative;
      //font-weight: bold;
      text-align: center;
      padding: 2.5rem 6rem;

      a{
        //color: var(--main-color) !important;
        //-webkit-text-fill-color: transparent;
        //-webkit-text-stroke-width: 1px;
        //-webkit-text-stroke-color: var(--main-color);
        transition:  .2s ease-in-out;
        transition-delay: .6s;
        text-decoration: none;
        //filter: blur(2px);
        color: rgba(255,255,255, .5);
        filter: blur(4px);
      }
    }

    img{
      width: calc(420px + (850 - 420) * ((100vw - 320px) / (1900 - 320)));
      height: 500px;
      opacity: 0.5;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center center;
      object-position: center center;
      @include for-phone-only{
        width: calc(300px + (800 - 300) * ((100vw - 320px) / (1900 - 320)));
        height: 250px;
      }
    }

    &:hover{
      cursor: grab;
    }
  }
}